numpy==1.26.4
pandas==2.1.4
matplotlib==3.8.0
seaborn==0.12.2
from mpl_toolkits import mplot3d
from sklearn.preprocessing import MinMaxScaler,LabelEncoder 
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,confusion_matrix